:root {
  font-size: 62.5%; /* 1rem= 10px */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
}
body {
  background-image: linear-gradient(to top, black 0%, transparent 50%),
    url(img/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
}
.title {
  margin: 20vh auto;

  text-shadow: 0 0.3rem 1rem #c08a43, 0 0.3rem 1.5rem black,
    0 0.3rem 1.5rem black;

  color: #ffcc00;
  font-size: 5rem;
  font-weight: bold;
}
.container {
  width: 90vw;
  height: 10rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;

  margin-inline: auto;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 10rem;
  height: 10rem;

  background-color: #000000b3;
  border: 0.1rem solid #ffcc0080;
  border-radius: 0.2rem;

  color: aliceblue;

  font-size: 3rem;

  user-select: none;

  transition: all 400ms;
}
.key:hover,
.key:active {
  box-shadow: 0 0 1rem #ffcc0070, 0 0 1rem #ffcc0070;
  border-radius: 1rem;

  background-color: #ff9f21;

  color: black;
  font-weight: bold;

  transition: background-color 400ms;
  cursor: pointer;
}
#start {
  animation: pulsate 1s ease-out infinite;

  transition: all 300ms;
}
#start:hover {
  width: 14rem;

  text-shadow: 0 0 1rem #000000d7;

  transition: 400ms;
}
@keyframes pulsate {
  0% {
    box-shadow: 0 0 0 #ffcc0070;
  }
  25% {
    box-shadow: 0 0 1rem #ffcc00;
  }
  50% {
    box-shadow: 0 0 1rem #ffcc00;
  }
  100% {
    box-shadow: 0 0 0 #ffcc00;
  }
}
.start {
  display: none;
}
